@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}

html {
    height: 100%;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 117%;
    color: #000000;
    background: #FFFFFF;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.button {
    font-family: inherit;
    font-size: 20px;
    line-height: 180%;
    font-weight: 700;
    text-align: center;
    color: #FFFFFF;
    background-color: #756257;
    border-radius: 10px;
    text-decoration: none;
    text-transform: uppercase;
    margin-bottom: 91px;
    padding-top: 13px;
    padding-bottom: 17px;
    width: 575px;
}

.navigation-main {
    display: flex;
    width: 1200px;
    margin: 0 auto;
}
.navigation-left, .navigation-right {
    padding: 0;
    margin: 0;
    width: 410px;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}

.navigation-left {
    margin-left: 62px;
}

.navigation-right {
    max-width: 350px;
    margin-left: auto;
    margin-right: 72px;
    justify-content: flex-end;
}

.navigation-right .navigation-link {
    min-width: 18px;
    min-height: 18px;
    padding: 10px 10px;
    margin-top: 14px;
    margin-bottom: 14px;
    display: block;
}

.navigation-right .navigation-link:nth-child(3) {
    min-width: 160px;
    min-height: 18px;
    padding-top: 9px;
    padding-bottom: 10px;
}

.navigation-center {
    width: 138px;
    display: flex;
    margin-left: 59px;
}

.navigation-right li:last-child {
    font-size: 16px;
    line-height: 131%;
    border-radius: 4px;
    color: #FFFFFF;
    background-color: #756257;
    text-transform: uppercase;
}

.navigation-link {
    font-size: 20px;
    font-weight: 700;
    line-height: 130%;
    color: inherit;
    text-decoration: none;
    text-align: center;
    padding: 6px 12px;
    display: block;
    margin: 13px 9px;
}

.main-container {
    flex-grow: 1;
}

.page-container {
    width: 1200px;
    margin: 0 auto;
}

.main-logo {
    background-image: url("../img/index-background.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    height: 485px;
    text-align: center;
    padding-top: 51px;
    margin-bottom: 12px;
}

.advantages {
    text-align: center;
}

.advantages__summary {
    margin: 0;
    font-size: 22px;
    line-height: 164%;
}

.advantages h2 {
    margin: 0;
    padding-bottom: 23px;
    font-size: 30px;
    line-height: 120%;
}

.advantages-list {
    display: flex;
    justify-content: stretch;
    flex-wrap: wrap;
    text-align: flex-start;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.advantages-item:first-child {
    display: grid;
    width: 1200px;
    grid-template-columns: 400px 800px;
    grid-template-areas:
        "title picture"
        "number picture"
        "text picture";
}

.grid-title {
    grid-area: title;
}

.grid-number {
    grid-area: number;
}

.grid-text {
    grid-area: text;
}

.grid-image {
    grid-area: picture;
}

.advantages-item:nth-child(5) {
    display: grid;
    width: 1200px;
    grid-template-columns: 800px 400px;
    grid-template-areas:
        "picture-2 title-2"
        "picture-2 number-2"
        "picture-2 text-2";
}

.grid-title-2 {
    grid-area: title-2;
}

.grid-number-2 {
    grid-area: number-2;
}

.grid-text-2 {
    grid-area: text-2;
}

.grid-image-2 {
    grid-area: picture-2;
}

.advantages-item img {
    width: 800px;
}

.advantages__summary {
    margin-bottom: 79px;
}

.advantages-description {
    margin-top: 0;
    margin-bottom: 79px;
}

.advantages__number {
    margin-bottom: 26px;
}

.advantages__number + p.advantages-description {
    margin-bottom: 77px;
}

.advantages-item {
    width: 400px;
    height: 384px;
}

.advantages-title {
    text-transform: uppercase;
    font-size: 24px;
    line-height: 117%;
    font-weight: 700;
    margin: 0;
}

h3.advantages-title {
    margin-top: 98px;
    margin-bottom: 25px;
}

h4.advantages-title {
    margin-top: 184px;
    margin-bottom: 20px;
}
.advantages-list li:first-child,
.advantages-list li:nth-child(5) {
    background-color: #83B3D3;
    color: #FFFFFF;
}

.advantages-list li:nth-child(2n) {
    background-color: #83B3D31F;
}

.advantages-list li:nth-child(7) {
    background-color: #83B3D333;
}

.appointment-title {
    font-size: 30px;
    font-weight: 700;
    line-height: 120%;
    margin: 0;
}

h3.appointment-title {
    margin-top: 91px;
    margin-bottom: 15px;
}

p.appointment-description {
    margin-bottom: 57px;
    margin-top: 15px;
}

.appointment {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1200px;
}

.appointment-description {
    text-align: center;
    font-size: 22px;
    line-height: 118%;
}

.button-submit {
    font-family: inherit;
    font-size: 20px;
    line-height: 130%;
    font-weight: 700;
    text-align: center;
    color: #FFFFFF;
    background-color: #83B3D3;
    border-radius: 0 10px 10px 0;
    text-decoration: none;
    text-transform: uppercase;
}

.mailing {
    background-image: url("../img/background-footer.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1200px;
    margin: 0 auto;
}

.mailing-title {
    margin-top: 94px;
    margin-bottom: 15px;
    font-size: 30px;
    line-height: 120%;
}

.mailing-catalog {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1200px;
    margin: 0 auto;
}

.mailing-catalog .mailing-title {
    margin-top: 0;
}

.mailing-description {
    text-align: center;
    margin-top: 0;
    margin-bottom: 46px;
    font-size: 22px;
    line-height: 118%;
}

.mailing-form {
    font-display: flex;
    justify-content: flex-start;
    margin-bottom: 93px;
}

.mailing-form input {
    width: 600px;
    height: 60px;
    margin: 0;
    padding: 0;
    border-radius: 10px 0 0 10px;
}

.mailing-form button {
    width: 200px;
    height: 61px;
    margin: 0;
    padding: 0;
}

.appointment-description {
    color: #333333;
}

.footer-index__container {
    display: flex;
    margin: 0 auto;
    width: 1200px;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 30px;
}

.socials {
    max-width: 134px;
    margin-left: 50px;
}

.socials-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.socials-item {
    height: 40px;
    width: 40px;
    margin-right: 7px;
    margin-bottom: 7px;
}

.socials-item:nth-child(3n) {
    margin-right: 0;
}

.contacts {
    width: 720px;
    margin-right: 53px;
    text-align: center;
}

.contacts-phone {
    font-style: normal;
    text-align: center;
    font-size: 40px;
    line-height: 100%;
    text-decoration: none;
    color: inherit;
}

.developer {
    width: 115px;
    margin-right: 72px;
}

.main-catalog {
    background-image: url("../img/catalog-background.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    margin: 0 auto;
    padding-top: 35px;
}


.main-header {
    color: #FFFFFF;
    padding-left: 71px;
}

.breadcrumbs__item {
    color: inherit;
    text-decoration: none;
    margin-right: 26px;
}

.breadcrumbs {
    display: flex;
    padding: 0;
    list-style-type: none;
    margin: 0 0 45px 0;
    font-size: 16px;
    line-height: 131%;
}

.main-header__title {
    font-size: 60px;
    font-weight: 700;
    line-height: 130%;
    margin-top: 0;
    margin-bottom: 8px;
}

.catalog-selection__title {
    font-size: 20px;
    line-height: 130%;
    padding: 0px;
    margin-bottom: 30px;
    font-weight: 700;
}

.catalog-selection__group:nth-child(3) .catalog-selection__title {
    margin-bottom: 34px;
}

.catalog-selection__group:first-child .catalog-selection__title {
    margin-right: 67px;
}

.catalog-selection__group:nth-child(2) .catalog-selection__title {
    margin-right: 216px;
}

.catalog-selection__group:nth-child(3) {
    max-width: 287px;
    margin-right: 81px;
}

.catalog-selection__title:nth-child(2) {
    margin-right: 216px;
}

.catalog-selection__item {
    margin-bottom: 13px;
    margin-left: 40px;
}

.button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.control__label {
    line-height: 128%;
}

.sorting-container {
    color: #333333;
    background-color: #FFFFFF;
    display: flex;
    padding: 50px 72px 45px 71px;
    justify-content: flex-start;
    width: 1057px;
}

.sorting-form select{
    padding: 12px 127px 13px 19px;
}

.hotel-number {
    margin-top: 0;
    margin-bottom: 0;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 700;
    line-height: 127%;
}

.sorting-container .button-view {
    width: 48px;
    height: 48px;
}

.button-apply {
    font-size: 16px;
    line-height: 131%;
    font-weight: 700;
    width: 160px;
    text-align: center;
    color: #FFFFFF;
    background-color: #83B3D3;
    text-transform: uppercase;
    border-radius: 4px;
    padding-top: 13px;
    padding-bottom: 13px;
}

.button-cancel {
    line-height: 128%;
    text-align: center;
    border: none;
    background: inherit;
    color: #FFFFFF;
    width: 160px;
    margin-top: 20px;
}

.sorting-form {
    line-height: 128%;
    margin-right: 81px;
    margin-left: auto;
}

.button-table {
    margin-right: 8px;
}

.button-one {
    margin-right: 8px;
}

.hotel__title {
    font-size: 24px;
    line-height: 129%;
    font-weight: 700;
    margin: 0;
    grid-column: 3 / 6;
    grid-row: 2 / 3;
}

.hotel__type {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
}

.hotel__price {
    grid-column: 5 / 6;
    grid-row: 3 / 4;
}

.hotel__type, .hotel__price {
    line-height: 128%;
}

.button-details {
    font-family: inherit;
    font-size: 16px;
    line-height: 125%;
    font-weight: 700;
    text-align: center;
    color: #FFFFFF;
    background-color: #756257;
    border-radius: 4px;
    text-decoration: none;
    text-transform: uppercase;
    padding-top: 9px;
    padding-bottom: 10px;
    grid-column: 3 / 4;
    grid-row: 4 / 5;
}

.button-favourites {
    font-family: inherit;
    font-size: 16px;
    line-height: 125%;
    font-weight: 700;
    text-align: center;
    color: #FFFFFF;
    background-color: #83B3D3;
    border-radius: 4px;
    text-decoration: none;
    text-transform: uppercase;
    grid-column: 5 / 6;
    grid-row: 4 / 5;
}

.hotel__rating {
    background: #F2F2F2;
    border-radius: 4px;
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    width: 160px;
    margin: 0;
    grid-column: 6 / 7;
    grid-row: 2 / -2;
    justify-self: end;
    align-self: end;
    padding-top: 9px;
    padding-bottom: 10px;
}

.button-pushed {
    background-color: #7DB54F;
}

.hotel-list {
    display: grid;
    grid-template-columns: 72px 1056px 72px;
    margin-bottom: 31px;
}

.hotel {
    display: grid;
    height: 181px;
    grid-column: 2 / 3;
    grid-template-rows: 31px min-content auto 37px 30px;
    grid-template-columns: 180px 37px 151px 8px 160px auto;
}

.hotel__image {
    grid-row: 2 / -1;
    grid-column: 1 / 2;
}

.button-more, .pagination__link {
    font-size: 20px;
    font-weight: 700;
    line-height: 130%;
    color: #FFFFFF;
    background-color: #83B3D3;
    text-align: center;
    text-transform: uppercase;
}

.button-more {
    justify-self: center;
    margin-top: 31px;
    margin-bottom: 30px;
    width: 625px;
    grid-column: 2 / 3;
}

.pagination {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.pagination-container {
    display: flex;
    margin-bottom: 89px;
}

.pagination-current {
    background-color: #F2F2F2;
    color: #000000;
}

.pagination__item:not(:last-child) {
    margin-right: 8px;
  }

.pagination__item:last-child {
    margin-right: 301px;
}

.hotel-summary {
    margin-right: 51px;
}

.select-number {
    width: 160px;
    padding: 13px 17px 12px 17px;
    margin-left: auto;
}

.pagination__link {
    display: block;
    box-sizing: border-box;
    width: 55px;
    height: 55px;
    padding: 14px 20px;
    text-decoration: none;
}

.catalog-selection {
    color: #FFFFFF;
    display: flex;
    width: 1200px;
    box-sizing: border-box;
    margin-bottom: 83px;
    padding-left: 71px;
}

.catalog-selection__group {
    padding: 0;
    margin: 0;
    border-style: none;
}

.catalog-column {
    width: 1200px;
}

.catalog-selection__list {
    padding: 0;
    margin: 0;
}

