@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}

html {
    height: 100%;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 117%;
    color: #000000;
    background: #FFFFFF;
}

.button {
    font-family: inherit;
    font-size: 20px;
    line-height: 180%;
    font-weight: 700;
    text-align: center;
    color: #FFFFFF;
    background-color: #756257;
    border-radius: 10px;
    text-decoration: none;
    text-transform: uppercase;
}

.navigation-main {
    display: flex;
    width: 1200px;
    margin: 0 auto;
}
.navigation-left, .navigation-right {
    padding: 0;
    margin: 0;
    width: 410px;
}
.navigation-left {
    margin-left: 71px;
}

.navigation-right {
    max-width: 250px;
    margin-left: auto;
    margin-right: 72px;
}

.navigation-center {
    width: 138px;
}

.navigation-right li:last-child {
    font-size: 16px;
    line-height: 131%;
    border-radius: 4px;
    color: #FFFFFF;
    background-color: #756257;
    text-transform: uppercase;
}

.navigation-link {
    font-size: 20px;
    font-weight: 700;
    line-height: 130%;
    color: inherit;
    text-decoration: none;
    text-align: center;
}

.main-container {
    flex-grow: 1;
}

.page-container {
    width: 1200px;
    margin: 0 auto;
}

.main-logo {
    background-image: url("../img/index-background.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    height: 485px;
    text-align: center;
}

.advantages {
    text-align: center;
}

.advantages-list {
    display: flex;
    justify-content: stretch;
    flex-wrap: wrap;
    text-align: center;
    margin: 0;
    padding: 0;
}

.advantages-item {
    width: 400px;
}

.advantages-title {
    text-transform: uppercase;
    font-size: 24px;
    line-height: 117%;
    font-weight: 700;
}

.advantages-list li:first-child,
.advantages-list li:nth-child(5) {
    background-color: #83B3D3;
    color: #FFFFFF;
}

.appointment-title {
    font-size: 30px;
    font-weight: 700;
    line-height: 120%;
}

.appointment {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1200px;
}

.appointment-description {
    text-align: center;
}

.button-submit {
    font-family: inherit;
    font-size: 20px;
    line-height: 130%;
    font-weight: 700;
    text-align: center;
    color: #FFFFFF;
    background-color: #83B3D3;
    border-radius: 0 10px 10px 0;
    text-decoration: none;
    text-transform: uppercase;

}

.mailing {
    background-image: url("../img/background-footer.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1200px;
}

.mailing-catalog {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mailing-description {
    text-align: center;
}

.appointment-description {
    color: #333333;
}

.footer-index__container {
    display: flex;
    margin: 0 auto;
    width: 1200px;
    justify-content: center;
}

.socials {
    width: 107px;
    margin-right: 61px;
}

.contacts {
    width: 720px;
    margin-right: 53px;
    text-align: center;
}

.contacts-phone {
    font-style: normal;
    text-align: center;
    font-size: 40px;
    line-height: 100%;
    text-decoration: none;
    color: inherit;
}

.developer {
    width: 115px;
    margin-right: 72px;
}

.main-header {
    background-image: url("../img/catalog-background.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.main-header, .catalog-selection {
    color: #FFFFFF;
    background-color: #83B3D3;
}

.breadcrumbs__item {
    color: inherit;
    text-decoration: none;
}

.main-header__title {
    font-size: 60px;
    font-weight: 700;
    line-height: 130%;
}

.catalog-selection__title {
    font-size: 20px;
    line-height: 130%;
}

.control__label {
    line-height: 128%;
}

.button-apply {
    font-size: 16px;
    line-height: 131%;
    font-weight: 700;
    text-align: center;
    color: #FFFFFF;
    background-color: #83B3D3;
    text-transform: uppercase;
}

.button-cancel {
    line-height: 128%;
    text-align: center;
    background-color: #FFFFFF;
    border: none;
}

.hotel-number {
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 700;
    line-height: 127%;
}

.sorting-form {
    line-height: 128%;
}

.hotel__title {
    font-size: 24px;
    line-height: 129%;
    font-weight: 700;
}

.hotel__type, .hotel__price {
    line-height: 128%;
}

.button-details {
    font-family: inherit;
    font-size: 16px;
    line-height: 125%;
    font-weight: 700;
    text-align: center;
    color: #FFFFFF;
    background-color: #756257;
    border-radius: 4px;
    text-decoration: none;
    text-transform: uppercase;
}

.button-favourites {
    font-family: inherit;
    font-size: 16px;
    line-height: 125%;
    font-weight: 700;
    text-align: center;
    color: #FFFFFF;
    background-color: #83B3D3;
    border-radius: 4px;
    text-decoration: none;
    text-transform: uppercase;
}

.hotel__rating {
    background: #F2F2F2;
    border-radius: 4px;
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
}

.button-pushed {
    background-color: #7DB54F;
}

.pagination-all, .pagination__link {
    font-size: 20px;
    font-weight: 700;
    line-height: 130%;
    color: #FFFFFF;
    background-color: #83B3D3;
    text-align: center;
    text-transform: uppercase;
}

.pagination-current {
    background-color: #F2F2F2;
    color: #000000;
}

.catalog-selection {
    display: flex;
    width: 1200px;
}

.catalog-selection__group {
    padding: 0;
    margin: 0;
}

.catalog-column {
    width: 1056px;
}
